body {

    background-color: #007fc7;
}

.container {

    width: 800px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
    background-color: #fff;
}

h1 {

    position: static;
}

p {

    width: 300px;
}

.relative {

    border: 1px solid red;
    position: relative;         /*Precisa adicionar propriedades de deslocamento*/
    top: 0px;                   /*Top, Bottom, Lef, Right*/
    left: 0px;
    right: 100px;
}

.absolute {

    border: 1px solid red;    
    background-color: #f2f2f2;
    position: absolute;
    top: 80px;
    right: 80px;
}

.fixed {

    border: 1px solid red;
    background-color: #f2f2f2;
    margin: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
}