body {

    background-color: #007fc7;
}

.container {

    width: 800px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
}

h1 {

    position: static;
}

p {

    width: 300px;
}

.relative {

    border: 1px solid red;
    position: relative;         /*Precisa adicionar propriedades de deslocamento*/
    top: 0px;                   /*Top, Bottom, Lef, Right*/
    left: 0px;
    right: 100px;
}