/*
 * Modelo de Caixa
 */

/*
.conteudo {

    border: 1px solid red;

    /*padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    padding: 20px 15px 10px 5px;

    width: 150px;
}
*/

/*
 * Noticia
 */

#noticia {

    background-color: #f9f9f9;
    border: 1px solid gray;
    padding: 10px;
}

h2 {

    margin: 0px;
}