#principal {

    border: 5px solid red;
    background-color: green;
}

.conteudo {

    background-color: blue;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}

/*
.conteudo1 {

    background-color: red;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}
*/

/*.conteudo-zero {

    background-color: red;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    margin: 10px;
}
*/

.clear {

    clear: both;
}