body {

    background: #f2f2f2;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

#container {

    width: 960px;
    min-width: 720px;
    margin: 0 auto;
    background: #fff url(img/coluna.png) repeat-y left top;
}

#marca {

    height: 200px;
    background: #225992 url(img/cabecalho2.jpg) no-repeat center;
    text-align: center;
    line-height: 200px;
}

#conteudo {

    float: right;
    width: 74%;
}

#conteudo-principal {

    float: left;
    width: 63%;
}

/*
#imagem {

    width: 90%;
    overflow: hidden;
}
*/

img.img-noticia {

    width: 94%;
    max-width: 600px;
    padding: 2%;
}

#conteudo-secundario {

    float: right;
    width: 34%;
    background: #d1d1d1;
}

#conteudo-secundario h2,
#conteudo-secundario p {

    padding-left: 20px;
    padding-right: 20px;
}

#navegacao {

    float: left;
    width: 23%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navegacao ul {

    list-style: none;
}

#navegacao li {

    text-decoration: none;
}

#rodape {

    clear: both;
    padding: 5px;
    background: #c4c4c4;
}