body {

    background: #f2f2f2;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

#container {

    width: 85%;
    min-width: 720px;
    margin: 0 auto;
    background: #fff;
}

#marca {

    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}

#conteudo {

    float: right;
    width: 74%;
}

#conteudo-principal {

    float: left;
    width: 63%;
    border: 1px solid red;
}

#conteudo-secundario {

    float: right;
    width: 34%;
    border: 1px solid red;
    background: #d1d1d1;
}

#conteudo-secundario h2,
#conteudo-secundario p {

    padding-left: 20px;
    padding-right: 20px;
}

#navegacao {

    float: left;
    width: 23%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#navegacao ul {

    list-style: none;
}

#navegacao li {

    text-decoration: none;
}

#rodape {

    clear: both;
    padding: 5px;
    background: #c4c4c4;
}