body {

    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

ul {

    width: 720px;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {

    float: left;
    background: url(img/aba-direita.png) no-repeat top right;
}

li a {

    display: block;
    padding: 0 2em;
    background: url(img/aba-esquerda.png) no-repeat top left;
    line-height: 3em;
    text-decoration: none; 
    color: white;
}

ul a:hover {

    color: #894a1f;
}

ul #atual {

    background: url(img/aba-direita-atual.png) no-repeat top right;
}

ul #atual a {

    background: url(img/aba-esquerda-atual.png) no-repeat top left;
}