body {

    background: #d2d2c1 url(img/fundo.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#principal {

    width: 900px;
}

#nav{

    background-color: #c5c5b2;
    padding: 18px;
}

a {

    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

#sobre {

    background-color: #e8e8e9;
    padding: 10px;
}

h3 {

    color: #828271;
    font-size: 1.2em;
}

.img_campanha {

    border: 10px solid #c3c3ae;
}