/*
.caixa {

    width: 400px;
    background: #dedede url(img/topo.png) no-repeat left top;
}

.caixa h2 {
    
    padding: 10px 20px 0 20px;
}

.caixa p {
    
    padding: 0px 20px 20px 20px;
    background: #dedede url(img/baixo.png) no-repeat left bottom;
}
*/

.caixa {
    
    width: 400px;
    background: #dedede url(img/fundo-arredondamento.png) repeat-y;
}

.caixa h2 {

    padding: 10px 20px 0 20px;
    background: url(img/topo2.png) no-repeat left top;
}

.caixa p {
    
    padding: 0px 20px;
}

.caixa p:last-child {

    background: url(img/baixo2.png) no-repeat left bottom;
    padding-bottom: 20px;
}