body {

    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}

fieldset {

    padding: 1em;
    border: 1px solid #ccc;
    margin: 1em 0;
    background: #f8f8f8;
}

legend {

    font-weight: bold;
}

label {

    display: block;
    cursor: pointer;
}

input[type=text] {

    width: 20em;
}

textarea {

    width: 20em;
    height: 10em;
}